@use "../variables.scss" ;
@use "../mixins.scss" ;


footer {
  @include mixins.flex-center(column, center, center);
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #000;

  .footer__logo {
    width: 125px;
  }

  .footer__text {
    @include mixins.text-style(24px, variables.$third-color, 500, center);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;

    // Version tablette
    @media (max-width: 1024px) {
      font-size: 20px;
    }

    // Version mobile 
    @media (max-width: 768px) {
      font-size: 14px;
      width: 150px;
      margin-top: 10px;
    }

    
  }
}