@use "../mixins.scss" ;

.header {
  @include mixins.flex-center(row, space-between, center);
  width: 90%;
  margin: 35px auto;

  nav {
    width: 250px;

    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;

      a {
        text-decoration: none;
        color: black;

        &.underline {
          text-decoration: underline;
        }
      }
    }
  }

  li {
    @include mixins.text-style(24px, black, normal, center);
    list-style: none;
  }

   // Version tablette 
   @media (max-width: 768px) {
    img {
      width: 150px;
      height: 51px;
    }

    nav {
      width: 200px;
    }

    li {
      font-size: 18px;
    }
  }

  // Version mobile 
  @media (max-width: 375px) {
    margin: 20px auto;

    img {
      width: 145px;
      height: 46px;
    }

    nav {
      width: 150px;
    }

    ul {
      padding: 0;
    }

    li {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}