// Styles pour le banner
.banner {
  margin: 20px auto;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;

  // image du banner
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
  }

  // masque du banner
  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  // texte du banner
  &-text {
    position: absolute;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
  }
}

// Version mobile 
@media (max-width: 375px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    margin: 10px auto;

    &-text {
      width: 225px;
      font-size: 24px;
      text-align: left;
      left: 15px;
    }
  }
}