@use "../variables.scss";
@use "../mixins.scss" ;


.collapse {
  width: 100%;

  &__header {
    @include mixins.flex-center(row, space-between, center);
    height: 40px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: variables.$primary-color;
    border-radius: 10px;
  }

  &__title {
    @include mixins.text-style(24px, variables.$third-color, 700, left);
    margin: 0;
  }

  &__arrow {
    width: 20px;
    transition: transform 0.3s ease;
  }

  &__arrow-open {
    transform: rotate(-180deg);
  }

  &__content {
    @include mixins.spacing(0, 15px);
    background-color: variables.$secondary-color;
    overflow: hidden;
    max-height: 0; 
    opacity: 0; 
    transform: scaleY(0); 
    transform-origin: top; // Définit l'origine de l'animation en haut
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.4s ease; // Transition combinée pour max-height, opacity, et transform
    border-radius: 5px;
  }

   &__content--open {
    max-height: 500px; // Hauteur maximale pour l'ouverture progressive
    opacity: 1; 
    transform: scaleY(1); // Retrait du scale pour dépliage complet
    padding: 10px 15px; 
  }

  &__text,
  &__list {
    @include mixins.text-style(18px, black, normal, left);
    margin: 0;
  }

  // Version tablette
  @media (max-width: 1024px) {
    &__title {
      font-size: 20px;
    }

    &__header {
      height: 28px;
    }
  }


  // Version mobile 
  @media (max-width: 768px) {
    &__header {
      height: 18px;
    }

    &__title {
      font-size: 14px;
    }

    &__text,
    &__list {
      font-size: 15px;
    }
  }

}  