// conteneur principal de l'hôte
.host {
  display: flex;
  align-items: center;
}

// nom de l'hôte
.host-name {
  color: #ff6060;
  font-size: 18px;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
  white-space: normal;
  width: 80px;
}

// photo de l'hôte
.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

// Version mobile 
@media (max-width: 375px) {
  .host-picture {
    width: 32px;
    height: 32px;
  }

  .host-name {
    font-size: 12px;
  }
}