@use "../variables.scss";
@use "../mixins.scss" ;


.host {
  @include mixins.flex-center(row, center, center);

  &__name {
    @include mixins.text-style(18px, variables.$primary-color, normal, right);
    @include mixins.spacing(0 10px 0 0);
    display: inline-block;
    width: 80px;
  }

  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }

  // Version mobile 
  @media (max-width: 375px) {
    &__picture {
      width: 32px;
      height: 32px;
    }

    &__name {
      font-size: 12px;
    }
  }
}