.rating {
  display: flex;
  align-items: center;
  gap: 10px;

  &__star {
    width: 24px;
    height: 24px;

    // Version mobile 
    @media (max-width: 375px) {
      width: 18px;
      height: 18px;
    }
  }

  .star {
    width: 25px;
    height: 25px;
  }
}