.fiche-logement-tags {
  display: flex; 
  gap: 10px; 
}

.tag {
    display: inline-block; 
    background-color: #ff6060; 
    border-radius: 25px; 
    padding: 5px 15px; 
    margin: 0; 
    text-align: center; 
    white-space: nowrap; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .tag-label {
    font-size: 14px; 
    color: #fff; 
    font-weight: 500; 
    display: flex;
    justify-content: center;
  }

  @media (max-width: 375px) {
    .tag {
      width: 84px;
      height: 18px;
    }

    .tag-label {
      font-size: 10px; 
    }
  }