@use "../variables.scss";
@use "../mixins.scss" ;

.tag {
  @include mixins.flex-center(row, center, center);
  @include mixins.spacing(0, 5px 15px);
  height: 25px;
  background-color: variables.$primary-color;
  border-radius: 25px;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  // Version mobile
  @media (max-width: 768px) {
    height: 20px;
    padding: 0 8px;
    border-radius: 10px;
  }

  // Version tablette
  @media (max-width: 1024px) {
    height: 22px;
  }

  &__label {
    @include mixins.text-style(14px, variables.$third-color, 500, center);
    margin: auto 0;

    // Version mobile
    @media (max-width: 768px) {
      font-size: 10px;
    }

    // Version tablette
    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }
}