@use "../styles/variables.scss" ;

body {
  font-family: variables.$font-family;
  margin: auto;
  padding: 0;
  max-width: 1440px;

  // Version mobile 
  @media (max-width: 375px) {
    max-width: 375px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;

  // Version mobile 
  @media (max-width: 375px) {
    width: 100%;
  }
}